p.intro {
  width: 25%;
  font-style: italic;
  font-weight: bold;
}


p.loremipsum {
  width: 50%;
  font-style: italic;
}

h2.intro {
  width: 25%;
  font-style: italic;
  font-weight: bold;
}

img.intro{
  border: 10px solid;
  color: rgba(52, 241, 10, 0.6);
  padding: 1px;
  border-image: url(border.png) 30 stretch;

}



